#app2 > div {
  border: solid black 1px;
  width: 80%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto; /* Centers the box */
  background-color: white;
}

#app2 h3 {
    text-align: center;
}

#app2 img {
  width: 70px;
  margin: 10px;
  transition: transform 0.2s;
}

#app2 img:hover {
    transform: scale(1.2);
}